td > img{
   width: 4em; 
}

.card{
    margin-top: 2em;
}

input{
    margin-bottom: 1em;
    /* width: 10em; */
}

body{
    /* background-image: linear-gradient(red, yellow); */
    background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet); 
    background-repeat: no-repeat;
    height: 60em;
}
.content{
    background-color: white;
}

table{
    background-color: white;
}